.shop{
	padding: 30px 50px;
	display: flex;

	.left{
		flex: 1;
		position: sticky;
		height: 100%;
		top: 50px;

		span{
			font-size: 15px;
			color: rgb(100, 100, 100);
		}

		hr{
			width: 200px;
			border: 1px solid rgb(200, 200, 200);
		}

		.filterItem{

			h2{
				width: 200px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
			}
		}
	}

	.right{
 		flex: 3;
	}
}